<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<style type="text/css">
		table,th,tr,td{
			border: 1px solid black
		}
	</style>
</head>
<body>
<table>
<h3>Student Information</h3>
	<th>ID</th>
	<th>Name</th>
	<th>Roll</th>
	<th>City</th>
	<th>Marks</th>
	<th>Passing Year</th>
		<tr>
			<td>{{students.id}}</td>
			<td>{{students.name}}</td>
			<td>{{students.roll}}</td>
			<td>{{students.city}}</td>
			<td>{{students.marks}}</td>
			<td>{{students.pass_date}}</td>
		</tr>	
</table>
</body>
</html>