<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
</head>
<body>
<form action="" method="get">
	<table>
		{{form}}
	</table>
	<input type="submit" name="" value="Submit">
</form>
<!-- <hr>

<form action="" method="get">
	{{form}}
	<input type="submit" name="" value="Submit">
</form>
<hr>

<form action="" method="get">
	{{form.as_table}}
	<input type="submit" name="" value="Submit">
</form>
<hr>

<form action="" method="get">
	{{form.as_p}}
	<input type="submit" name="" value="Submit">
</form>
<hr>

<form action="" method="get">
	{{form.as_ul}}
	<input type="submit" name="" value="Submit">
</form>
<hr>

<form action="" method="get">
	{{form.name}}
	{{form.email}}
	<input type="submit" name="" value="Submit">
</form>
 -->
</body>
</html>